In [8]:
import pandas as pd

In [ ]:
# Load the dataset

In [9]:
df = pd.read_csv('data/adult19.csv')
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [ ]:
# Understand our data

In [ ]:
### Head and Tail of the DataFrame: To get a quick look at the first and last few rows of your data.

In [33]:
df.head()  # First 5 rows
df.tail()  # Last 5 rows

,URBRRL,RATCAT_A,INCGRP_A,INCTCFLG_A,FAMINCTC_A,IMPINCFLG_A,PPSU,PSTRAT,HISPALLP_A,RACEALLP_A,DISAB3_A,SCHDYMSSTC_A,AFNOW,PHQCAT_A,YRSINUS_A,CITZNSTP_A,LEGMSTAT_A,MARSTAT_A,SASPPRACE_A,SASPPHISP_A,PRTNREDUC_A,SPOUSEDUC_A,PRTNRAGETC_A,SPOUSAGETC_A,PRTNRWKFT_A,PRTNRWRK_A,SPOUSWKFT_A,SPOUSWRK_A,SPOUSESEX_A,PRTNRSEX_A,SHTHPVAGEP_A,SHINGRXYRP_A,ZOSTAVXYRP_A,HHRESPSA_FLG,GADCAT_A,PCNTADTWFP_A,PCNTADTWKP_A,FDSCAT4_A,FDSCAT3_A,EMPDYSMSS2_A,EMPLSTWORK_A,EMPWRKFT_A,...,ARTHEV_A,COPDEV_A,DIBTYPE_A,DIBINSSTYR_A,DIBINSSTOP_A,DIBINSTIME_A,DIBINS_A,DIBPILL_A,DIBEV_A,GESDIB_A,PREDIB_A,CANEV_A,ASER12M_A,ASAT12M_A,ASTILL_A,ASEV_A,ASPONOWN_A,ASPMEDSTP_A,ASPMEDNOWN_A,ASPMEDEV_A,STREV_A,MIEV_A,ANGEV_A,CHDEV_A,CHLMED_A,CHL12M_A,CHLEV_A,HYPMED_A,HYP12M_A,HYPDIF_A,HYPEV_A,PHSTAT_A,PROXYREL_A,PROXY_A,AVAIL_A,HHSTAT_A,INTV_QRT,RECTYPE,WTFA_A,WTIA_A,HHX,POVRATTC_A
31992,4,14,5,0,116204,0,100,114,2,1,2,NaN,NaN,1,NaN,1,3,1,1.0,1.0,NaN,7.0,NaN,68.0,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,9999.0,NaN,1,0,0,1,1,NaN,3.0,NaN,...,1,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2.0,9,2,NaN,NaN,NaN,2,1.0,NaN,NaN,2.0,2,2,2,2,1.0,1.0,1,1.0,1.0,1.0,1,3,NaN,NaN,1,1,4,10,2679.016,1965.416,H046022,7.65
31993,4,8,3,0,68000,0,100,114,2,1,2,NaN,2.0,1,NaN,1,3,1,1.0,1.0,NaN,4.0,NaN,40.0,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,1.0,1,1,1,1,1,0.0,NaN,1.0,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,2,2.0,2.0,2.0,1,2.0,NaN,NaN,2.0,2,2,2,2,NaN,NaN,2,1.0,1.0,1.0,1,3,NaN,NaN,1,1,4,10,6726.495,3920.208,H046232,2.02
31994,4,13,3,0,60000,0,100,114,2,1,2,NaN,NaN,1,NaN,1,2,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,1,1,1,1,3.0,NaN,1.0,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,2,NaN,NaN,NaN,2,2.0,NaN,NaN,2.0,2,2,2,2,NaN,NaN,2,1.0,1.0,1.0,1,2,NaN,NaN,1,1,4,10,1246.306,864.743,H043765,4.98
31995,4,14,5,0,101000,0,100,114,1,1,2,NaN,2.0,1,NaN,1,3,1,1.0,1.0,NaN,6.0,NaN,35.0,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,1,2,2,1,1,2.0,NaN,1.0,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2.0,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,2,2,2,2.0,1.0,1,NaN,NaN,NaN,2,2,NaN,NaN,1,1,4,10,3427.198,2595.209,H017695,6.00
31996,4,13,4,0,79000,0,100,114,2,1,2,NaN,2.0,1,NaN,1,3,1,1.0,1.0,NaN,4.0,NaN,57.0,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,1,2,2,1,1,1.0,NaN,1.0,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2.0,2,2,NaN,NaN,NaN,2,2.0,NaN,NaN,2.0,2,2,2,2,NaN,NaN,2,2.0,1.0,1.0,1,2,NaN,NaN,1,1,4,10,3453.332,1891.706,H026306,4.69

In [ ]:
### Frequency Distributions

In [34]:
df['VISIONDF_A'].value_counts()

VISIONDF_A
1    26475
2     4944
3      507
4       40
7       18
9       13
Name: count, dtype: int64

In [35]:
pd.crosstab(df['VISIONDF_A'], columns='Frequency', margins=True)

col_0       Frequency    All
VISIONDF_A
1               26475  26475
2                4944   4944
3                 507    507
4                  40     40
7                  18     18
9                  13     13
All             31997  31997

In [ ]:
def frequency_table(df, column):
    # Frequency
    freq = df[column].value_counts(dropna=False).sort_index()

    # Percent
    percent = df[column].value_counts(normalize=True, dropna=False).sort_index() * 100

    # Valid Percent (excluding NaN)
    valid_percent = df[column].value_counts(normalize=True).sort_index() * 100

    # Cumulative Percent
    cum_percent = valid_percent.cumsum()

    # Combine all into a DataFrame
    freq_table = pd.DataFrame({'Frequency': freq, 'Percent': percent, 
                               'Valid Percent': valid_percent, 'Cumulative Percent': cum_percent})
    
    return freq_table

# List of columns to create frequency tables for
cols = ['VISIONDF_A', 'HEARINGDF_A', 'DIFF_A', 'COGMEMDFF_A', 'UPPSLFCR_A', 'COMDIFF_A']

# Create and display frequency tables for each column
for column in cols:
    print(f"Frequency Table for {column}:\n", frequency_table(df, column), "\n")

In [ ]:
# Step 1: Handle Missing Values

In [37]:
missing_values = [7, 8, 9]
df[cols] = df[cols].replace(missing_values, [pd.NA]*len(missing_values))

# Create and display frequency tables for each column
for column in cols:
    print(f"Frequency Table for {column}:\n", frequency_table(df, column), "\n")

Frequency Table for VISIONDF_A:
             Frequency    Percent  Valid Percent  Cumulative Percent
VISIONDF_A
1               26475  82.742132      82.822374           82.822374
2                4944  15.451449      15.466433           98.288807
3                 507   1.584524       1.586060           99.874867
4                  40   0.125012       0.125133          100.000000
<NA>               31   0.096884            NaN                 NaN

Frequency Table for HEARINGDF_A:
              Frequency    Percent  Valid Percent  Cumulative Percent
HEARINGDF_A
1                26547  82.967153      83.047613           83.047613
2                 4832  15.101416      15.116061           98.163674
3                  563   1.759540       1.761246           99.924920
4                   24   0.075007       0.075080          100.000000
<NA>                31   0.096884            NaN                 NaN

Frequency Table for DIFF_A:
         Frequency    Percent  Valid Percent  Cumulative Percent
DIFF_A
1           24987  78.091696      78.150314           78.150314
2            4783  14.948276      14.959497           93.109811
3            1802   5.631778       5.636005           98.745817
4             401   1.253242       1.254183          100.000000
<NA>           24   0.075007            NaN                 NaN

Frequency Table for COGMEMDFF_A:
              Frequency    Percent  Valid Percent  Cumulative Percent
COGMEMDFF_A
1                26312  82.232709      82.302158           82.302158
2                 4943  15.448323      15.461370           97.763528
3                  671   2.097072       2.098843           99.862371
4                   44   0.137513       0.137629          100.000000
<NA>                27   0.084383            NaN                 NaN

Frequency Table for UPPSLFCR_A:
             Frequency    Percent  Valid Percent  Cumulative Percent
UPPSLFCR_A
1               30538  95.440198      95.496904           95.496904
2                1077   3.365941       3.367940           98.864845
3                 224   0.700066       0.700482           99.565326
4                 139   0.434416       0.434674          100.000000
<NA>               19   0.059381            NaN                 NaN

Frequency Table for COMDIFF_A:
            Frequency    Percent  Valid Percent  Cumulative Percent
COMDIFF_A
1              30423  95.080789      95.146208           95.146208
2               1309   4.091009       4.093823           99.240031
3                197   0.615683       0.616106           99.856138
4                 46   0.143763       0.143862          100.000000
<NA>              22   0.068756            NaN                 NaN

In [ ]:
# Step 2: Summation Variables (SUM_234)

In [38]:
conditions = [(df[col] >= 2) & (df[col] <= 4) for col in cols]
df['SUM_234'] = sum(conditions)
df.loc[df[cols].isna().all(axis=1), 'SUM_234'] = pd.NA
frequency_table(df, 'SUM_234')

         Frequency    Percent  Valid Percent  Cumulative Percent
SUM_234
0.0          17709  55.345814      55.368309           55.368309
1.0           7289  22.780261      22.789520           78.157829
2.0           3651  11.410445      11.415083           89.572911
3.0           1956   6.113073       6.115558           95.688469
4.0            915   2.859643       2.860805           98.549275
5.0            357   1.115730       1.116183           99.665458
6.0            107   0.334406       0.334542          100.000000
NaN             13   0.040629            NaN                 NaN

In [39]:
# Step 3: Summation Variables (SUM_34)
conditions = [(df[col] >= 3) & (df[col] <= 4) for col in cols]
df['SUM_34'] = sum(conditions)
df.loc[df[cols].isna().all(axis=1), 'SUM_34'] = pd.NA
frequency_table(df, 'SUM_34')

        Frequency    Percent  Valid Percent  Cumulative Percent
SUM_34
0.0         28618  89.439635      89.475988           89.475988
1.0          2462   7.694471       7.697599           97.173587
2.0           637   1.990812       1.991621           99.165208
3.0           177   0.553177       0.553402           99.718609
4.0            62   0.193768       0.193847           99.912456
5.0            25   0.078132       0.078164           99.990620
6.0             3   0.009376       0.009380          100.000000
NaN            13   0.040629            NaN                 NaN

In [40]:
# Step 5-8: Disability Identifiers
df['DISABILITY1'] = (df['SUM_234'] >= 1).astype(int)
df['DISABILITY2'] = ((df['SUM_234'] >= 2) | (df['SUM_34'] >= 1)).astype(int)
df['DISABILITY3'] = df[cols].isin([3, 4]).any(axis=1).astype(int)
df['DISABILITY4'] = df[cols].isin([4]).any(axis=1).astype(int)

# Set missing values for Disability Identifiers
for col in ['DISABILITY1', 'DISABILITY2', 'DISABILITY3', 'DISABILITY4']:
    df.loc[df[cols].isna().all(axis=1), col] = pd.NA

dis_cols = ['DISABILITY1', 'DISABILITY2', 'DISABILITY3', 'DISABILITY4']
# Create and display frequency tables for each column
for column in dis_cols:
    print(f"Frequency Table for {column}:\n", frequency_table(df, column), "\n")

Frequency Table for DISABILITY1:
              Frequency    Percent  Valid Percent  Cumulative Percent
DISABILITY1
0.0              17709  55.345814      55.368309           55.368309
1.0              14275  44.613558      44.631691          100.000000
NaN                 13   0.040629            NaN                 NaN

Frequency Table for DISABILITY2:
              Frequency    Percent  Valid Percent  Cumulative Percent
DISABILITY2
0.0              24336  76.057130      76.088044           76.088044
1.0               7648  23.902241      23.911956          100.000000
NaN                 13   0.040629            NaN                 NaN

Frequency Table for DISABILITY3:
              Frequency    Percent  Valid Percent  Cumulative Percent
DISABILITY3
0.0              28618  89.439635      89.475988           89.475988
1.0               3366  10.519736      10.524012          100.000000
NaN                 13   0.040629            NaN                 NaN

Frequency Table for DISABILITY4:
              Frequency    Percent  Valid Percent  Cumulative Percent
DISABILITY4
0.0              31450  98.290465      98.330415           98.330415
1.0                534   1.668906       1.669585          100.000000
NaN                 13   0.040629            NaN                 NaN

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31997 entries, 0 to 31996
Columns: 540 entries, URBRRL to DISABILITY4
dtypes: float64(375), int64(158), object(7)
memory usage: 131.8+ MB

In [42]:
df.dtypes

URBRRL           int64
RATCAT_A         int64
INCGRP_A         int64
INCTCFLG_A       int64
FAMINCTC_A       int64
                ...
SUM_34         float64
DISABILITY1    float64
DISABILITY2    float64
DISABILITY3    float64
DISABILITY4    float64
Length: 540, dtype: object